/* Name : Srinath Natarajan */
/* Student Number : 000770411 */
/* Date : 03-10-2019 */

/* Float the images in infobox right */
img  {
	float: right;
	}

#myMap {
	width:100%;
	height:500px;
}

#titleOfPage {
	font-size:2em;
	color: black;
	text-decoration: underline;
	text-align:center;
}